# {{ ansible_managed }}
AWG_EP_IFACE={{ awg_entry_ports_interface }}
AWG_EP_CLI={{ awg_entry_ports_wg_cli }}
AWG_EP_SERVER={{ awg_entry_ports_server_code }}
AWG_EP_URL={{ awg_entry_ports_push_url }}
AWG_EP_TOKEN={{ awg_entry_ports_push_token }}
AWG_EP_TIMEOUT={{ awg_entry_ports_push_timeout }}
AWG_EP_STATE_DIR={{ awg_entry_ports_state_dir }}
AWG_EP_MAX_ENTRIES={{ awg_entry_ports_max_entries }}
AWG_EP_LOG_FILE={{ (awg_entry_ports_log_dir ~ '/awg-entry-ports.log') if awg_entry_ports_log_dir else '' }}
